@import

url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sofia+Sans+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap');

#navbar{
    background-color: rgb(205, 159, 248);
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
    
}
#navbar li {
display: inline;
background-color: #8875d4; 

}
.button {
display: inline-block;
padding: .75rem 1.25rem;
border-radius: 10rem;
color: black;
text-transform: uppercase;
font-size: 1rem;
letter-spacing: .15rem;
transition: all .3s;
position: relative;
overflow: hidden;
z-index: 1;
background-color: white;
}
.container{
    background-color: rgb(247, 163, 246);
}
.ava{
    width: 15%;
    height: 15%;
    float: left;
    margin-right: 15px;
    background: 60%;
}
.main-text{
    font-family: "Sofia Sans Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: medium;
    font-style: normal;
    font-size: 50px;
    text-align: left;

}
.text{
    font-family: "Sofia Sans Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: medium;
    font-style: normal;
    font-size: 50px;
    text-align: left;
    display: flex;

}
.facts{
    font-family: "Sofia Sans Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: medium;
    font-style: normal;
    font-size: 25px;
    text-align: left;
    background-color: rgb(118, 221, 239);
    margin-top: 175px;
}
.footer{
    background-color: rgb(112, 101, 101);
    margin-top: 100px;
    
}
.footer-text{
    color: #ffffff;
}
.footer-sylki{
    color: #ffffff;
}
#inf{
    background-color: #98c0fc;
}
.img{
    float: right;
    height: 25%;
    width: 25%;
}
#port{
    background-color: #c394f2;
}